.background-layer {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

.background-layer__image {
  position: absolute;
  inset: 0;
  background-image: url('../../assets/images/background_simple_blue_sky_triangles.png');
  /* background-image: url('../../assets/images/background_simple_paper.png'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

.background-layer__overlay {
  position: absolute;
  inset: 0;
  background: rgba(106, 169, 245, 0.238);
  z-index: 1;
}